<div class="header" id="home">
  <div class="content white agile-info">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/images/logo.png" width="140" height="55" />
          </a>
        </div>
        <!--/.navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <nav class="link-effect-2" id="link-effect-2">
            <ul class="nav navbar-nav">
              <li class="<% if (nav_active === 'Home') { %>active<% } %>">
                <a href="/company" class="effect-3 ">Home</a>
              </li>
              <li class="dropdown <% if (nav_active === 'Create Job') { %>active<% } %>">
                <a href="/company/createjob" class="effect-3">Create Jobs</a>
              </li>
              <li class="dropdown <% if (nav_active === 'Quick Hire') { %>active<% } %>">
                <a href="/company/quickhire" class="effect-3">Quick Hire</a>
              </li>

              <li class="dropdown <% if (nav_active === 'Job Status') { %>active<% } %>">
                <a href="/company/jobstatus" class="effect-3">Job Status</a>
              </li>

              <% if(!user) { %>
              <li class="dropdown">
                <a href="/" class="effect-3" style="color: 	#0080ff">| Seeker</a>
              </li>
              <% } %>

              <li>
                <div class="dropdown">
                  <% if (!user){ %>
                  <img src="/images/profile-icon.png" width="33" height="33" />
                  <% } else { %>
                  <div style="width: 44px; height: 44px">
                    <img src="<%= user.companyDetail.image %>" class="img-responsive" />
                  </div>

                  <% } %>

                  <div class="dropdown-content">
                    <h3>My Profile</h3>

                    <hr />
                    <% include headerCompany %>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>

        <!--/.navbar-collapse-->
        <!--/.navbar-->
      </div>
    </nav>
  </div>
</div>
